<input type="hidden" id="api_key" value="<%=cookies[:api_key]%>" />
<body class="login">
	<div class="logo">
		<a href="/"><img src="https://s3.amazonaws.com/coffeemobile/logo-small.png" /></a>
	</div>
	<div class="content">
		<ul class="media-list" id="org_list">
			
		</ul>
	</div>
<%= javascript_include_tag "login_page" %>
<script>
  var _SESSION_API_KEY = $('#api_key').val();
	var OrganizationModelsArray = new Array();

	var OrganizationModel = function(org_id, org_name, org_profile, org_address) {
	  this.Id = org_id;
	  this.Name = org_name;
		this.Profile = org_profile;
	  this.Address = org_address;

	  this.insert = function() {
	  	var obj = this;
	  	var element = document.createElement('li');
      element.className = "media";
      element.style.cursor = "pointer";
      
      var img = document.createElement('img');
      img.className = "media-object pull-left"
      img.src = this.Profile;
      img.style.width = "66px";
      img.style.height = "66px";
      img.alt = "64x64";
      img.style.margin = "8px";

      var caption = document.createElement('div');
      caption.className = "media-body";

      var h4 = document.createElement('h5');
      h4.style.fontWeight = "bold";
      h4.innerHTML = this.Name;
      var display_name = name;

      var p = document.createElement('h6');
      p.innerHTML = this.Address;

      caption.appendChild(h4);
      caption.appendChild(p);

      var row = document.createElement('div');
      row.className = "row";

      var left = document.createElement('div');
      left.className = "col-md-3";
      var right = document.createElement('div');
      right.className = "col-md-9";

      left.appendChild(img);
      right.appendChild(caption);

      row.appendChild(left);
      row.appendChild(right);

      element.appendChild(row);

      element.addEventListener("mouseover", function() { 
        this.style.backgroundColor = "#bbbbbb";
      }, false);

      element.addEventListener("mouseout", function() { 
        this.style.backgroundColor = "#eceef1";
      }, false);

      element.addEventListener("click", function() { 
        window.location.href = "selected/" + obj.Id;
      }, false);
      
      document.getElementById("org_list").appendChild(element);
	  }
	}

	jQuery(document).ready(function() {     
		Metronic.init(); // init metronic core components
		Layout.init(); // init current layout

		$.ajax({
      type: "GET",
      beforeSend: function (request) {
	    	request.setRequestHeader("Authorization", "Token token=" + _SESSION_API_KEY);
	  	},
      url: "/api/organizations/get_dashboard_select_info",
      dataType: "json"
		 }).done(function(data) {
	    var organizations = data.eXpresso.payload.organizations.eXpresso;

	    $(organizations).each(function() {
	    	if(this.profile_image != null) {
	    		oprofile_image = this.profile_image.gallery_url;
	    	} else {
	    		oprofile_image = "https://s3.amazonaws.com/coffeemobileassets/profile.png";
	    	}
	      var organization = new OrganizationModel(
          this.id,
          this.name,
          oprofile_image,
          this.formatted_address
	      );
	      organization.insert();
	      OrganizationModelsArray.push(organization);
	    }).promise().done(function() {
	      
	    });
		});
	});


</script>
<!-- END JAVASCRIPTS -->
</body>
