<!-- BEGIN PAGE CONTAINER -->  
<div class="page-container">
	<!-- BEGIN CONTAINER -->   
	<div class="container" style="min-height: 600px;">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 login-signup-page">
				<%= form_tag sessions_path do %>

				<h2>Change Password</h2>

				<div class="input-group margin-bottom-20">
					<span class="input-group-addon"><i class="fa fa-lock"></i></span>
					<input type="password" class="form-control" placeholder="Password" id="password" name="password" >
				</div>                    
				<div class="input-group margin-bottom-20">
					<span class="input-group-addon"><i class="fa fa-lock"></i></span>
					<input type="password" class="form-control" placeholder="Confirm Password" id="confirm_password" name="confirm_password" >
				</div>                    

				<div class="row">
					<div class="col-md-6 col-sm-6">
						
					</div>
					<div class="col-md-6 col-sm-6">
						<button type="submit" class="btn theme-btn pull-right">Change Password</button>                        
					</div>
				</div>

				<hr>
				<% end %>
			</div>
		</div>
	</div>
	<!-- END CONTAINER -->

</div>
<!-- END PAGE CONTAINER -->