<% provide(:title, 'Privacy Policy') %>
<!-- BEGIN PAGE CONTAINER -->  
<div class="page-container">
	<div class="container">
        
		<div class="row margin-bottom-40 margin-top-50">
<h1>Coffee Enterprise Privacy Policy</h1>
<p>
	The Coffee Enterprise team is committed to protecting your privacy. This privacy statement applies to the data collected by Coffee Software Design Inc. through the use of Coffee Enterprise services (the “Service” or “Services”).
</p>
<h3>Coffee Enterprise Networks</h3>
<p>
	A “Coffee Enterprise Network” is the network for using the Services defined by your organization’s email domain.  For example, all users who sign up with a “scholars.com” email address would be part of the Scholars Coffee Enterprise Network. In addition, a company may invite users with different email domain names to their Coffee Enterprise Network as “guest users” or as participants in external networks associated with that Coffee Enterprise Network.
</p>
<p>
	A “Coffee Enterprise Basic Network” is a Coffee Enterprise Network that includes only users of the free Coffee Enterprise Basic services.
</p>
<p>
	A “Coffee Enterprise Network” is a Coffee Enterprise Network that has been upgraded from a Coffee Enterprise Basic Network by the organization whose email domain defines that network.  An organization may upgrade its Coffee Enterprise Basic Network to a Coffee Enterprise Network at any time.
</p>
<p>
	Companies who upgrade to a Coffee Enterprise Network may take administrative control of that network and see the data and activities of the users on that network (including data and activity which was posted prior to the upgrade of the network to a Coffee Enterprise Network), and may choose to implement security or privacy policies in addition to those described in this privacy statement.  With respect to a Coffee Enterprise Basic Network, references to “you” or “your” in this privacy statement refer to the individual users of the Services.  With respect to Coffee Enterprise Networks, references to “you” or “your” in this privacy statement refer to the organization that is our customer.  Individual users of Coffee Enterprise Networks should direct privacy related inquiries to the organization that provides them access to the Services.
</p>
<h3>Customer Data</h3>
<p>
	Customer Data is all the data, including all text, sound, software or image files that you provide, or are provided on your behalf, to us through your use of the Services.
</p>
<p>
	We make no claim of ownership in your Customer Data.  Except as provided in this privacy statement or described in your agreements, we only use Customer Data to provide and enhance the Services. We don’t share your Customer Data with advertisers, or with anybody else except in the very limited circumstances described in the Sharing Your Information section below.
</p>
<h3>Contact Data</h3>
<p>
	Contact Data includes name, address, phone number, profile information, email address, title, time zone and other contact information that we may collect through your administration of the Services and use of the Services by you and others.  Contact Data you provide as part of your Coffee Enterprise profile is available to other users of your Coffee Enterprise Network(s).
</p>
<p>
	Coffee Enterprise works better when more people take part in communicating and sharing on a Coffee Enterprise Network. For this reason, the Service encourages people to send invitations to others who are not yet on Coffee Enterprise.  If you choose to provide us with email addresses or other Contact Data of people inside or outside your organization, we will use that information to enable you and other users to invite those people to join the appropriate Coffee Enterprise Network.
</p>
<p>
	We may also suggest contacts that you may want to add to your Coffee Enterprise Network. If you choose to add them to your Coffee Enterprise Network, we will send them an invitation to join your Coffee Enterprise Network by sending an email on your behalf which may include your name, picture and other profile information.
</p>
<p>
	In addition, Contact Data is used to complete the transactions you request, administer your account, improve the Services and detect and prevent fraud.
</p>
<p>
	We may also use Contact Data to contact you to provide information about new subscriptions, billing and important updates about the Services, including information about security or other technical issues.  We may also contact you regarding third-party inquiries as described in this privacy statement or your agreement(s).  If you are a verified administrator for the Service, you may not be able to unsubscribe from some of these communications.
</p>
<p>
	Subject to your contact preferences, we may also use Contact Data to contact you regarding information and offers about the Service, other products and services or to request your feedback.  <!--If you do not wish to receive these communications, please see <a href="www.coffeenetwork.ca/emailpolicy">www.coffeenetwork.com/emailpolicy</a> for information on how to stop them and configure other notification preferences.-->
</p>

<h3>Usage Data</h3> 
<p>
	We may use statistical data, analytics, trends and usage information derived from your use of the Services (“usage data”).  Usage data includes, for example, aggregated quantitative information about active users, activity, topics, and groups.  Some ways we use the usage data include operating, improving and personalizing the Services and our offerings. Except to provide reports to you or others in your organization, we do not disclose usage data in a way which is identifiable to your organization or users in your Coffee Enterprise Network.
</p>

<h3>Support Data</h3>
<p>
	Support Data is the information we collect when you submit a support request or run an automated troubleshooter, including information about hardware, software, and other details related to the support incident, such as: contact or authentication information, chat session personalization, information about the condition of the computer and the application when the fault occurred and during diagnostics, system and registry data about software installations and hardware configurations, and error-tracking files.
</p>
<p>
	Support may be provided through phone, e-mail, or online chat. We may use Remote Access (RA), with your permission, to temporarily navigate your desktop. Phone conversations, online chat sessions, or RA sessions with support professionals may be recorded and/or monitored. For RA, you may also access the recording after your session.  For Online Chat or RA, you may end a session at any time of your choosing. We use Support Data in the same way as we use your information, as described in this privacy statement. Additionally, we use it to resolve your support incident and for training purposes.
</p>
<p>
	Following a support incident, we may send you a survey about your experience and offerings. You must opt-out of support surveys separately from other communications, by contacting Support or through the e-mail footer.
</p>
<p>
	To review and edit your personal information collected through our support services, and for any other inquiries regarding our support services, please contact us by using our web form.
	Some business customers may purchase enhanced support offerings (e.g. Enterprise Plus etc.). These offerings are covered by their own contract terms and notices.
</p>
<h3>Cookies & Other Information</h3>
<p>
	The Service uses “cookies,” which are small text files placed on a device’s hard disk by a web server.  We may use cookies and similar technologies for storing users’ preferences and settings, to authenticate users, to collect usage data and operate the Service.
</p>
<p>
	Some of the cookies we commonly use are listed in the following chart. This list is not exhaustive, but it is intended to illustrate some of the reasons we set cookies. When a user visits the Service it may set some or all of the following cookies:
</p>
<table>
	<tr>
		<td>Cookie name</td>
		<td>Description</td>
	</tr>
	<tr>
		<td>browser_token</td>
		<td>Identifies unique browsers to the Service. It is used for site analytics and other operational purposes.</td>
	</tr>
	<tr>
		<td>auth_token, auth_token_sso</td>
		<td>Store information about authentication preferences</td>
	</tr>
	<tr>
		<td>_workfeed_session</td>
		<td>Sets a unique ID identifying the user session. It is used for site analytics and other operational purposes.</td>
	</tr>
	<tr>
		<td>yamtrak_id</td>
		<td>A cookie used for generating analytical information</td>
	</tr>
	<tr>
		<td>unverified_email</td>
		<td>Stores the login of an authenticated user</td>
	</tr>
</table>
<h3>Sharing Your Information</h3> 
<p>
	We will not disclose Customer Data or Contact Data (“your information”) outside of Coffee Enteprise or its controlled subsidiaries and affiliates except as you direct, or as described in your agreement(s) or this privacy statement.
</p>
<ul>
	<li>
		We don’t share any of your information with advertisers.
	</li>
	<li>
		We occasionally contract with other companies to provide services (such as customer support, data management, and technical infrastructure services) on our behalf.  We may provide these companies with access to your information where necessary for their engagement. These companies are required to maintain the confidentiality of your information and are prohibited from using it for any purpose other than that for which they are engaged by Coffee Enterprise
	</li>
	<li>
		We will not disclose your information to a third party (including law enforcement, other government entity, or civil litigant; excluding our subcontractors) except as you direct or unless required by law.  Should a third party contact Coffee Enterprise with a request for your information, we will attempt to redirect the third party to request the data directly from you.  As part of that process, we may provide your basic contact information to the third party.  If legally compelled to disclose your information to a third party, we will use commercially reasonable efforts to notify you in advance of a disclosure unless legally prohibited.
	</li>
	<li>
		Coffee Enterprise may share Contact Data with third parties for purposes of fraud prevention or to process payment transactions, as further described in this statement.
	</li>
	<li>
		The Services may enable you to purchase, subscribe to, or use services, software, and content from companies other than Coffee Enterprise (“Third Party Offerings”). If you choose to purchase, subscribe to, or use a Third Party Offering, we may provide the third party with your Contact Data to enable the third party to provide its offering to you (and with your consent, send you promotional communications). That data and your use of a Third Party Offering will be governed by the applicable third party privacy statement(s) and policies.
	</li>
	<li>
		We will not substantively respond to data protection and privacy requests from your users without your prior written consent, unless required by applicable law.
	</li>
</ul>
<p>
	Please note that the Services may include links to or allow you to install third-party or other Coffee Enterprise products and services whose privacy practices may differ from the Services.  Your use of such products or services, and any information you provide to a third party, is governed by their privacy statements. We encourage you to review these other privacy statements.
</p>



<h3>Accessing, Correcting and Deleting Your Information</h3>
<p>
	You may access, correct or delete Customer Data or Contact Data you have provided to us by using the tools within the Services (for example, editing your profile information on the Service) or by contacting  support at <a href="home">www.coffeenetwork.com</a> Changes you make to your information on the Service take immediate effect on your Coffee Enterprise Network, but data will be retained in secure storage for a limited period afterward as part of our standard data backup process.
</p>

<h3>Security</h3>
<p>
	We have implemented and will maintain appropriate technical and organizational measures, internal controls, and information security routines intended to protect your information against accidental loss, destruction, or alteration; unauthorized disclosure or access; or unlawful destruction.   
</p>

<h3>Data Location </h3>
<p>
	Your Services’ data may be transferred to, stored and processed in the United States or any other country where Coffee Enterprise or its affiliates, subsidiaries or service providers maintain facilities. Coffee Enterprise abides by the U.S.-EU Safe Harbor Framework and the U.S.-Swiss Safe Harbor Framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of data from the European Economic Area, and Switzerland. To learn more about the Safe Harbor program, and to view our certification, please visit <a href="http://www.export.gov/safeharbor/">http://www.export.gov/safeharbor/</a>.
</p>

<h3>Changes to this Privacy Statement</h3>
<p>
	We will occasionally update this privacy statement to reflect customer feedback, changes in our Services, and updates to applicable data privacy laws and regulations. When we post changes to this statement, we will revise the “last updated” date at the top of the statement. If there are material changes to this statement or in how Coffee Enterprise will use your information, we will notify you by either posting a notice of such changes before they take effect or by direct notification. We encourage you to periodically review this privacy statement to learn how Coffee Enterprise is protecting your information.
</p>

<h3>How to Contact Us</h3>
<p>
Coffee Enterprise welcomes your comments.  If you have questions about Coffee Enterprise’s privacy and security commitments, or if you have other technical or other customer support questions, please contact us at <a href="mailto:help@coffeemobile.com">help@coffeemobile.com</a>.
</p>
</div>
</div>
</div>