<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.4
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Done</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/shyftassets/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/shyftassets/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/shyftassets/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/shyftassets/uniform.default.min.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/shyftassets/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="https://s3.amazonaws.com/shyftassets/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="https://s3.amazonaws.com/shyftassets/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="https://s3.amazonaws.com/shyftassets/coming-soon.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="https://s3.amazonaws.com/coffeemobileassets/images/Shyft_Icon.png" /> </head>
    <!-- END HEAD -->

    <body class="" style="background-color: #f50091;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 coming-soon-header">
                    <a class="brand" href="index.html">
                        <img src="https://www.myshyft.com/assets/img/main_logo.png" style="height: 60px; width: auto;" alt="logo" /> </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 coming-soon-content">
                    <h1>Something went wrong</h1>
                    <p> Sorry! The village elders have been alerted. </p>
                    <br>
                </div>

            </div>
            <!--/end row-->
            <div class="row">
                <div class="col-md-12 coming-soon-footer"> 2016 &copy; Shyft Technologies Inc. </div>
            </div>
        </div>
    </body>
</html>
