<% provide(:title, 'Thank You') %>
<div class="be-row be-wrap clearfix" style="padding-top: 50px; padding-bottom: 0px;">
	<div class="one-half column-block" style="">
		<div class="linebreak" style="height:100px;"></div>
		<h5>Registration Complete</h5>
		<p>Thank you for registering your organization with Coffee Enterprise. Please validate your email and then proceed to the login page to access the enterprise dashboard. You will also be able to use the Coffee Mobile app right away on your iPhone or Android device once validated. </p>
	</div>
	<div class="one-half column-block" style="margin-bottom: -50px;">
		<img class="wp-image-2796 aligncenter" src="http://www.coffeemobile.com/wp-content/uploads/2014/04/main.png" alt="" width="650">
	</div>
</div>
<div class="be-section       clearfix" style="background-color: #ff6f08;"><div class="be-section-pad clearfix" style="padding-top:29px;padding-bottom:29px;"><div class="be-row be-wrap clearfix"><div class="one-col column-block clearfix  " style=""></div></div></div></div>