<% provide(:title, 'Account Validated') %>
<div class="be-row be-wrap clearfix" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="one-half column-block" style="">
                <div class="linebreak" style="height:100px;"></div>
                <h5>Account Validated</h5>
                <p>Your account is now validated. You may now login and start using Coffee Enterprise.</p>
        </div>
        <div class="one-half column-block" style="">
<img class="wp-image-2796 aligncenter" src="http://www.coffeemobile.com/wp-content/uploads/2014/07/validated.png" alt="" width="250">
        </div>
</div>