<% provide(:title, 'Reset Password') %>
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Password Reset</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/shyftassets/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/shyftassets/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/shyftassets/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/shyftassets/uniform.default.min.css" rel="stylesheet" type="text/css" />
        <link href="https://s3.amazonaws.com/shyftassets/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="https://s3.amazonaws.com/shyftassets/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="https://s3.amazonaws.com/shyftassets/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="https://s3.amazonaws.com/shyftassets/coming-soon.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="https://s3.amazonaws.com/coffeemobileassets/images/Shyft_Icon.png" /> </head>
    <!-- END HEAD -->

    <body class="" style="background-color: #00bbc7;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 coming-soon-header">
                    <a class="brand" href="index.html">
                        <img src="https://www.myshyft.com/assets/img/main_logo.png" style="height: 60px; width: auto;" alt="logo" /> </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 coming-soon-content">
                  <form accept-charset="UTF-8" class="edit-password-form" action="#" >
                    <!-- BEGIN NAME -->
                    <input type="hidden" id="reset_id" value="<%=params[:id]%>">
                    <div>
                      <h1>Password Reset</h1>
                      <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Password</label>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password"/>
                      </div>
                      <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword"/>
                      </div>
                      <p class="hint">
                        Please make sure you password a combination of characters, numbers and symbols of at least 6 characters long.
                      </p>
                      <div class="form-group">
                        <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Next</button>
                      </div>
                      <br>
                    </div>
                    <!-- END NAME -->
                  </form>
                </div>

            </div>
            <!--/end row-->
            <div class="row">
                <div class="col-md-12 coming-soon-footer"> 2016 &copy; Shyft Technologies Inc. </div>
            </div>
        </div>

        <script src="https://s3.amazonaws.com/shyftassets/login_page/jquery.min.js"></script>
        <script src="https://s3.amazonaws.com/shyftassets/login_page/jquery-migrate.min.js"></script>
        <script src="https://s3.amazonaws.com/shyftassets/login_page/bootstrap.min.js"></script>
        <script src="https://s3.amazonaws.com/shyftassets/login_page/jquery.blockui.min.js"></script>
        <script src="https://s3.amazonaws.com/shyftassets/login_page/jquery.uniform.min.js"></script>
        <script src="https://s3.amazonaws.com/shyftassets/login_page/jquery.validate.min.js"></script>
        <script src="https://s3.amazonaws.com/shyftassets/login_page/metronic.js"></script>
        <script src="https://s3.amazonaws.com/shyftassets/login_page/layout.js"></script>
        <script src="https://s3.amazonaws.com/shyftassets/login_page/login.js"></script>
        <script>
        jQuery(document).ready(function() {
          Metronic.init(); // init metronic core components
          Layout.init(); // init current layout
          Login.init();
        });
        </script>
    </body>
</html>

