<body class="login">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
	<a href="/"><img src="https://s3.amazonaws.com/coffeemobile/logo-small.png" /></a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
	<div style="margin:0;padding:0;display:inline"></div>
		<h3>Account Management</h3>
		<p>
			The link has expired. Please request the password change again and complete the change within 2 hours.  
		</p>
</div>
<div class="copyright">
	 2014 © Coffee Enterprise. All Rights Reserved
</div>
<!-- END LOGIN -->
<%= javascript_include_tag "login_page" %>
<script>
jQuery(document).ready(function() {     
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	Login.init();
});
</script>
<!-- END JAVASCRIPTS -->
</body>