<% provide(:title, 'Password Reset') %>
<body class="login">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
	<a href="/"><img src="https://s3.amazonaws.com/coffeemobile/logo-small.png" /></a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
	<div style="margin:0;padding:0;display:inline"></div>
		<h3>Password Reset</h3>
		<p>Thank you.</p>
		<p>We have sent an email to the address provided that it exists in our system. Please reset your password within 2 hours as the request will expire. </p>
</div>
<div class="copyright">
	 2014 © Coffee Enterprise. All Rights Reserved
</div>
<!-- END LOGIN -->
</body>