extends ./layout.pug

//- optional (PACE loader)
block pace-loader
  link(rel='stylesheet', href='/css/pace.css')
  script(type='text/javascript', src='/bower_components/PACE/pace.min.js')

block header
  != app_stylesheets

block content
  div#app-container!= content

block scripts
  script(type="text/javascript", src="//maps.google.com/maps/api/js?key=AIzaSyBHVZQbRxQ4jvdkrat7YNZVT8INMdw_ssY")
  != app_scripts

block stylesheets
