files:
  "/tmp/rpushagent.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ -f /var/app/support/pids/rpush.pid ]
      then
        kill -TERM `cat /var/app/support/pids/rpush.pid`
        rm -rf /var/app/support/pids/rpush.pid
      fi
      cd /var/app/ondeck
      sudo touch /var/app/support/pids/rpush.pid
      sudo chmod 777 /var/app/support/pids/rpush.pid
      bundle exec rpush start -e $RACK_ENV

container_commands:
  00_rpushAgent:
    command: /tmp/rpushagent.sh
