files:
  "/tmp/sidekiqagent.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /var/app/current
      sudo touch /var/log/sidekiq.log
      sudo chmod 777 /var/log/sidekiq.log
      bundle exec sidekiq -C config/sidekiq.yml -e $RACK_ENV

container_commands:
  00_rpushAgent:
    command: /tmp/rpushagent.sh
