files:
  "/tmp/sidekiqagent.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ -f /var/app/support/pids/sidekiq.pid ]
      then
        kill -TERM `cat /var/app/support/pids/sidekiq.pid`
        rm -rf /var/app/support/pids/sidekiq.pid
      fi
      cd /var/app/ondeck
      sudo touch /var/log/sidekiq.log
      sudo chmod 777 /var/log/sidekiq.log
      sudo touch /var/app/support/pids/sidekiq.pid
      sudo chmod 777 /var/app/support/pids/sidekiq.pid
      bundle exec sidekiq -C config/sidekiq.yml -e $RACK_ENV

container_commands:
  00_rpushAgent:
    command: /tmp/sidekiqagent.sh
