<form action="/users/list_by_name" method="POST">
  <div class="field">
    <label for="user_name_search">User Name</label><br />
    <input type="text" name="user_name" id="user_name" />
    <%= notice %>
  </div>
</form>
