<img src="http://www.coffeemobile.com/assets/coffee-badge.png"></img>
<%= image_tag("/assets/coffee-badge.png") %>
<h1>Welcome to Coffee Enterprise</h1>
<p>Your account has been validated and is ready for use on the mobile application.</p>

<p>Sincerely</p>
<p>-- <br />
Coffee Enterprise Team<br />
Community Management<br />
1-877-668-4629<br />
www.coffeemobile.com
</p>
