<body class="login">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
	<a href="/"><img src="https://s3.amazonaws.com/coffeemobile/logo-small.png" /></a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
	<!-- BEGIN FORGOT PASSWORD FORM -->
	<form action="/signup/<%=invite_url%>" class="forget-form" method="post" novalidate="novalidate" style="display: block;">
		<!-- BEGIN NAME -->
		<input type="hidden" name="step" value="PIF">
		<div style="">
			<h3>Profile Info</h3>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">First Name</label>
				<input class="form-control placeholder-no-fix" type="text" placeholder="First Name" name="first_name"/>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Last Name</label>
				<input class="form-control placeholder-no-fix" type="text" placeholder="Last Name" name="last_name"/>
			</div>
			<p class="hint">
				Your name is how you will appear to others in your network and let them know who you are.
			</p>
			<div class="form-group">
				<button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Next</button>
			</div>
		</div>
		<!-- END NAME -->
	</form>	<!-- END FORGOT PASSWORD FORM -->
</div>
<div class="copyright">
	 2014 © Coffee Enterprise. All Rights Reserved
</div>
<!-- END LOGIN -->
<%= javascript_include_tag "login_page" %>
<script>
jQuery(document).ready(function() {     
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	Login.init();
});
</script>
<!-- END JAVASCRIPTS -->
</body>