<body class="login">
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
	<a href="/"><img src="https://s3.amazonaws.com/coffeemobile/logo-small.png" /></a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
	<!-- BEGIN FORGOT PASSWORD FORM -->
	<form action="/signup/<%=invite_url%>" class="forget-form" method="post" novalidate="novalidate" style="display: block;">
		<!-- BEGIN NAME -->
		<input type="hidden" name="step" value="NET" />
		<input type="hidden" name="new_org" value="false" id="new_org" />
		<input type="hidden" name="org_name" value="" id="org_name" />
		<div style="">
			<h3>Find Your Network</h3>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Network</label>
				<input class="form-control placeholder-no-fix" type="text" placeholder="Network Name" name="network_name" id="network_name" autocomplete="off" />
			</div>
			<p class="hint">
				Create your own network if you do not belong to any existing one.
			</p>
			<div>
				<ul class="media-list" id="matches">
					
				</ul>
			</div>
			<div class="form-group">
				<button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right disabled">Next</button>
			</div>
		</div>
		<!-- END NAME -->
	</form>	<!-- END FORGOT PASSWORD FORM -->
</div>
<div class="copyright">
	 2014 © Coffee Enterprise. All Rights Reserved
</div>
<!-- END LOGIN -->
<%= javascript_include_tag "login_page" %>
<script>
jQuery(document).ready(function() {     
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	Login.init();
});

$("#network_name").keyup(function() {
	var name = $("#network_name").val();
	if(name.length == 0) {
		document.getElementById("matches").innerHTML = "";
		$("#register-submit-btn").addClass("disabled");
		$("#new_org").val("false");
		$("#org_name").val("");
		document.getElementById("register-submit-btn").innerHTML = "Next";
	} else {
		$.ajax({
			type: "POST",
			beforeSend: function (request)
			{
				request.setRequestHeader("Authorization", "Token token=b0b8ea419a31b9340b4c8bc646282f51");
			},
			url: "/api/organizations/seek/",
			dataType: "json",
			data: {
				"data":name
			},
			success: function (data) {
				if(data.eXpresso) {
					var element = document.createElement('li');
					element.className = "media";
					
					var img = document.createElement('img');
					img.className = "media-object pull-left"
					img.src = data.eXpresso.profile_image != null ? data.eXpresso.profile_image.thumb_url : "https://s3.amazonaws.com/coffeemobileassets/profile.png";
					img.style.width = "64px";
					img.style.height = "64px";
					img.alt = "64x64";

					var caption = document.createElement('div');
					caption.className = "media-body";

					var h4 = document.createElement('h4');
					h4.className = "media-heading";
					h4.innerHTML = data.eXpresso.name;

					var p = document.createElement('p');
					p.innerHTML = "Is this the network you are looking for? Join now to connect with your coworkers.";

					caption.appendChild(h4);
					caption.appendChild(p);

					element.appendChild(img);
					element.appendChild(caption);

					document.getElementById("matches").innerHTML = "";
					document.getElementById("matches").appendChild(element);
					$("#register-submit-btn").removeClass("disabled");
					$("#new_org").val("false");
					$("#org_name").val(data.eXpresso.name);
					document.getElementById("register-submit-btn").innerHTML = "Join " + data.eXpresso.name;
				} else {
					var element = document.createElement('li');
					element.className = "media";
					
					var img = document.createElement('img');
					img.className = "media-object pull-left"
					img.src = "https://s3.amazonaws.com/coffeemobileassets/profile.png";
					img.style.width = "64px";
					img.style.height = "64px";
					img.alt = "64x64";

					var caption = document.createElement('div');
					caption.className = "media-body";

					var h4 = document.createElement('h4');
					h4.className = "media-heading";
					h4.innerHTML = name;

					var p = document.createElement('p');
					p.innerHTML = "There is no network with this name, claim it now and start your own network!";

					caption.appendChild(h4);
					caption.appendChild(p);

					element.appendChild(img);
					element.appendChild(caption);

					document.getElementById("matches").innerHTML = "";
					document.getElementById("matches").appendChild(element);
					$("#register-submit-btn").removeClass("disabled");
					$("#new_org").val("true");
					$("#org_name").val(name);
					document.getElementById("register-submit-btn").innerHTML = "Create Network";
				}
			},
			error: function(e) { 
				console.log(e); 
			}
		});
	}
});
</script>
<!-- END JAVASCRIPTS -->
</body>