<%= stylesheet_link_tag "server_errors", :media => "all" %>
<div class="row">
	<div class="col-md-12 page-404">
		<div class="number">
			 404
		</div>
		<div class="details">
			<h3>Oops! You're lost.</h3>
			<p>
				 We can not find the page you're looking for.<br/>
				<a href="/">
				Return home </a>
				or <a onclick="goBack();">go back</a> to the previous page.
			</p>
		</div>
	</div>
</div>
<%= javascript_include_tag "server_errors" %>
<script>
function goBack() {
	window.history.back()
}
</script>