<form action="/admin_claims/display" method="POST">
  <div class="field">
    <label for="admin_claim_search">Claim ID</label><br />
    <input type="text" name="claim_id" id="claim_id" />
  </div>
</form>
