<html>
  <head>
    <title>Your Shyft Admin Claim</title>
  </head>
  <body>
    <div style="background:#f9f9f9;color:#373737;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:17px;line-height:24px;max-width:100%;width:100%!important;margin:0 auto;padding:0">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;line-height:24px;margin:0;padding:0;width:100%;font-size:17px;color:#373737;background:#00bbc7;" width="100%">
      <tbody>
        <tr>
          <td style="border-collapse:collapse" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%">
            <tbody>
              <tr>
                <td style="border-collapse:collapse;padding:20px 16px 12px" valign="bottom">
                <div style="text-align:center"><span class="sg-image" data-imagelibrary="%7B%22width%22%3A%22120px%22%2C%22height%22%3A%2236%22%2C%22alignment%22%3A%22center%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//www.myshyft.com/assets/img/main_logo.png%22%2C%22link%22%3A%22https%3A//myshyft.com%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D" style="float: none; display: block; text-align: center;"><a href="https://myshyft.com" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank"><img class="CToWUd" height="36" src="https://www.myshyft.com/assets/img/main_logo.png" style="width: 120px; height: 36px;" width="120px" /></a></span></div>
                </td>
              </tr>
            </tbody>
          </table>
          </td>
        </tr>
        <tr>
          <td style="border-collapse:collapse;padding:0px 16px 8px" valign="top">
          <table align="center" border="0" cellpadding="32" cellspacing="0" style="border-collapse:collapse;background:white;border-radius:0.5rem;margin-bottom:1rem">
            <tbody>
              <tr>
                <td style="border-collapse:collapse" valign="top" width="546">
                <div style="max-width:546px;margin:0 auto">
                <p style="font-size:17px;line-height:24px;margin:0 0 16px;text-align:center"><span class="sg-image" data-imagelibrary="%7B%22width%22%3A%2276%22%2C%22height%22%3A%2276%22%2C%22alignment%22%3A%22center%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//s3.amazonaws.com/coffeemobileassets/images/admin-claim-icon.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D" style="float: none; display: block; text-align: center;"><img class="CToWUd" height="76" src="https://s3.amazonaws.com/coffeemobileassets/images/admin-claim-icon.png" style="outline: none; text-decoration: none; width: 76px; height: 76px;" width="76" /></span></p>

                <h2 style="color:#3a3b3c;line-height:30px;margin-bottom:12px;margin:0 auto 0.75rem;font-size:1.8rem;text-align:center">So you want to be an admin?</h2>

                <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 13.3333px; font-family: Arial; vertical-align: baseline; white-space: pre-wrap; background-color: rgb(255, 255, 255);">Hey <%=@user_first_name%>,</span></p>
                &nbsp;

                <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 13.3333px; font-family: Arial; color: rgb(34, 34, 34); vertical-align: baseline; white-space: pre-wrap; background-color: rgb(255, 255, 255);">Thank you for your interest in becoming a Shyft Admin for your location. Click on the link below to confirm your email address and complete your admin claim process.</span></p>
                &nbsp;

                <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 13.3333px; font-family: Arial; color: rgb(34, 34, 34); vertical-align: baseline; white-space: pre-wrap; background-color: rgb(255, 255, 255);"><a href="<%=@activation_url%>">Click me!</a></span></p>
                &nbsp;

                <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 13.3333px; font-family: Arial; color: rgb(34, 34, 34); vertical-align: baseline; white-space: pre-wrap; background-color: rgb(255, 255, 255);">We also have a few video tutorials to help you use the app, feel free to review them to better understand our process and share with your coworkers:</span></p>
                &nbsp;

                <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 13.3333px; font-family: Arial; color: rgb(34, 34, 34); vertical-align: baseline; white-space: pre-wrap; background-color: rgb(255, 255, 255);">Shift Trade Tutorial:</span></p>

                <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><a href="http://bit.ly/1kdyi1D" style="text-decoration:none;"><span style="font-size: 13.3333px; font-family: Arial; color: rgb(0, 0, 0); text-decoration: underline; vertical-align: baseline; white-space: pre-wrap; background-color: rgb(255, 255, 255);">http://bit.ly/1kdyi1D</span></a></p>
                &nbsp;

                <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 13.3333px; font-family: Arial; color: rgb(34, 34, 34); vertical-align: baseline; white-space: pre-wrap; background-color: rgb(255, 255, 255);">Upload Schedule:</span></p>

                <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><a href="http://bit.ly/1NGAECZ" style="text-decoration:none;"><span style="font-size: 13.3333px; font-family: Arial; color: rgb(0, 0, 0); text-decoration: underline; vertical-align: baseline; white-space: pre-wrap; background-color: rgb(255, 255, 255);">http://bit.ly/1NGAECZ</span></a></p>
                &nbsp;

                <p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size: 13.3333px; font-family: Arial; color: rgb(34, 34, 34); vertical-align: baseline; white-space: pre-wrap; background-color: rgb(255, 255, 255);">Thanks</span></p>

                <div>&nbsp;</div>
                </div>
                </td>
              </tr>
            </tbody>
          </table>
          </td>
        </tr>
        <tr>
          <td style="border-collapse:collapse">
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;margin-top:1rem;background:white;color:#989ea6" width="100%">
            <tbody>
              <tr>
                <td align="center" style="border-collapse:collapse;padding:16px 8px 24px" valign="top">
                <div style="max-width:600px;margin:0 auto">
                <p style="font-size:12px;line-height:20px;margin:0 0 16px;margin-top:16px">Made with love by <a href="https://myshyft.com" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank"><span class="il">Shyft</span> Technologies, Inc</a><br />
                <a href="#14fefc8509da682e_" style="color:#989ea6;font-weight:normal;text-decoration:none;word-break:break-word">1100 NE Campus Parkway, Startup Hall - University Of Washington &nbsp;&bull;&nbsp; Seattle, WA &nbsp;&bull;&nbsp; 98195-4620</a></p>
                </div>
                </td>
              </tr>
            </tbody>
          </table>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </body>
</html>
