<%
if Rails.env.production?
  @host = "http://api.coffeemobile.com"
elsif Rails.env.staging?
  @host = "http://staging.coffeemobile.com"
elsif Rails.env.testing?
  @host = "http://test.coffeemobile.com"
elsif Rails.env.dev?
  @host = "http://dev.coffeemobile.com"
else
  @host = "http://localhost:3000"
end
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <!-- This is a simple example template that you can edit to create your own custom templates -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="Email Confirmation">

        <title>Email Confirmation</title>

	</head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="width:100% !important;-webkit-text-size-adjust:none;margin:0; padding:0;background-color:#FFFFFF;">
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height:100% !important; margin:0; padding:0; width:100% !important;background-color:#FFFFFF;">
            	<tr>
                	<td align="center" valign="top">
                        <!-- // Begin Template Preheader \\ -->

                        <!-- // End Template Preheader \\ -->
                    	<table border="0" cellpadding="0" cellspacing="0" width="700" id="templateContainer">
                        	<tr>
                            	<td align="center" valign="top">
                                    <!-- // Begin Template Header \\ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="700" id="templateHeader">
                                        <tr>
                                            <td class="headerContent">

                                            	<!-- // Begin Module: Standard Header Image \\ -->
                                            	<img src="http://www.coffeemobile.com/wp-content/uploads/2014/06/coffee_header_logo2.png" style="max-width:450px;height:auto;margin-left: 20px;"  mc:label="header_image" mc:edit="header_image" mc:allowdesigner="" mc:allowtext="">
                                            	<!-- // End Module: Standard Header Image \\ -->

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \\ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                    <!-- // Begin Template Body \\ -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="700" id="templateBody">
                                    	<tr>
                                            <td valign="top" style="color:#334c58;font-family:Verdana;font-size:14px;line-height:150%;text-align:left;">

                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%" class="cellbody">
                                                    <tr>
                                                        <td valign="top" style="border-radius:20px;background-color:#f7f5f2;">
                                                            <div mc:edit="std_content00">

                                                                <span style="color:#334c58;display:block;font-family:Verdana;font-size:30px;line-height:100%;margin-bottom:10px;text-align:left;">Please confirm your email</span>
                                                                <a href='<%= @host %>/api/users/activate/<%= @user.validation_hash%>' style="color:#FFFFFF;display:inline-block;font-family:Verdana;font-size:18px;line-height:100%;margin-bottom:20px;margin-top:20px;margin-left:25px;text-align:left;background-color:#00c4c9;padding-top:10px;padding-bottom:10px;padding-left:25px;padding-right:25px;border-radius:5px;text-decoration:none;">Click Here</a>
                                                                <br>
																<p>Hello <%= @user.first_name %>,</p>
                                                                <p>Thank you for registering <%= @organization.name %> with us. Please verify your email address and activate your account by clicking the link above. </p>
                                                                <p>
                                                                Sincerely
                                   								</p>
                                                                Coffee Enterprise Team
                                                            </div>
														</td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \\ -->

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top">
                                    <!-- // Begin Template Footer \\ -->

                                    <!-- // End Template Footer \\ -->
                                </td>
                            </tr>
                        </table>
                        <br>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
