<body>
<div style="width: 600px; margin: 0 auto; padding: 10px;">
  <%= image_tag("/assets/coffee-brand-new.png", alt: "Coffee Enterprise") %>
  <p>Hello</p>

  <p><%= @user.first_name %>, your password has temporarly been set to <span style="color: red;"><%= @password %></span>.  Please change it inside the app settings as soon as possible.</p>

  <p>Sincerely,</p>

  <p>-- <br />
    Coffee Enterprise Team<br />
    Community Management<br />
    1-877-668-4629<br />
    <a href="www.coffeemobile.com">Coffee Enterprise</a>
  </p>
</div>
</body>