<div style="background:#f9f9f9;color:#373737;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:17px;line-height:24px;max-width:100%;width:100%!important;margin:0 auto;padding:0">
   <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;line-height:24px;margin:0;padding:0;width:100%;font-size:17px;color:#373737;background:#999999">
      <tbody>
         <tr>
            <td valign="top" style="border-collapse:collapse">
               <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
                  <tbody>
                     <tr>
                        <td valign="bottom" style="border-collapse:collapse;padding:20px 16px 12px">
                           <div style="text-align:center">
                              <a href="https://coffeemobile.com" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">
                              <img src="https://s3.amazonaws.com/coffeemobileassets/coffee_mobile_single_line.png" class="CToWUd" width="260px"></a>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
         <tr>
            <td valign="top" style="border-collapse:collapse">
               <table cellpadding="32" cellspacing="0" border="0" align="center" style="border-collapse:collapse;background:white;border-radius:0.5rem;margin-bottom:1rem">
                  <tbody>
                     <tr>
                        <td width="546" valign="top" style="border-collapse:collapse">
                           <div style="max-width:600px;margin:0 auto">
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px;text-align:center"><img src="https://s3.amazonaws.com/coffeemobileassets/status@2x.png" width="76" height="76" style="outline:none;text-decoration:none;width:76px" class="CToWUd"></p>
                              <h2 style="color:#3a3b3c;line-height:30px;margin-bottom:12px;margin:0 auto 0.75rem;font-size:1.8rem;text-align:center">
                                 Team's Weekly Summary
                              </h2>
                              <h3 style="color:#3a3b3c;line-height:26px;margin-bottom:2rem;font-size:1.2rem;text-align:center;margin:0 auto 1rem">Monday, September 14th - Sunday, September 20th</h3>
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px">Hope you had a good weekend! Here's a summary of what happened on your team last week:</p>
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px">
                                 Your team sent a total of <strong>153 messages</strong> last week (that's 310 fewer than the week before).
                                 Of those,
                                 <strong>5% were in channels</strong>, <strong>21% were in groups</strong> and <strong>74% were direct messages</strong>.
                                 Your team also uploaded <strong>7 files</strong> (that's 5 more than the week before).
                              </p>
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px;text-align:center;margin-bottom:2rem"><a href="https://coffeemobile.slack.com/x-t3069738998-11061753107/admin/stats" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/CiCIGXeL0FkAW5FkNNObtYXmXL3gGMYxFCYzXrZw_8Hu07wPSeybFV2wcBFgDKFC5Clz_JQzKElNFPxdhs0BCjyfNQTsxMcDwvxg0fy7qGkBcmUkJ-thPkmdpsLYls5-RvJwLFYenp3t8uljlowsk5g0gFWLg9U9OMe7WDwghIyxiQgv0aIlIWMrk8NSSWfRwji1Zl6DbX_ShfX4GcgiiqjyI6pQqQQ=s0-d-e1-ft#https://slack.com/email_chart.php?chart_type=messages_by_type&amp;team_id=T0321MQVC&amp;ts=1442836917&amp;signature=c5749e4e39f91b36775e3fbc532ec10b05b004e4" width="80%" style="outline:none;text-decoration:none;border:none;width:80%" class="CToWUd"></a></p>
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px">Looking for more stats? Check out <a href="https://coffeemobile.slack.com/x-t3069738998-11061753107/admin/stats" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">your team's stats page</a>.</p>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <table cellpadding="32" cellspacing="0" border="0" align="center" style="border-collapse:collapse;background:white;border-radius:0.5rem;margin-bottom:1rem">
                  <tbody>
                     <tr>
                        <td width="546" valign="top" style="border-collapse:collapse">
                           <div style="max-width:600px;margin:0 auto">
                              <h3 style="color:#3a3b3c;line-height:26px;margin-bottom:0;font-size:1.2rem;text-align:center;margin:0 auto 1rem">The most talkative member of your team last week was Yusuf Saber, with 69 messages. Nice work, Yusuf!</h3>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <table cellpadding="32" cellspacing="0" border="0" align="center" style="border-collapse:collapse;background:white;border-radius:0.5rem;margin-bottom:1rem">
                  <tbody>
                     <tr>
                        <td width="546" valign="top" style="border-collapse:collapse">
                           <div style="max-width:600px;margin:0 auto">
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px">
                                 <strong>Your team has 2 owners:</strong>
                                 brett (primary owner)
                                 and 				Daniel Chen.
                                 In total there are <strong>8</strong> people on your team (that's not including <strong>5</strong> disabled accounts).
                              </p>
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px">Remember: it's important to <a href="https://coffeemobile.slack.com/x-t3069738998-11061753107/admin" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">keep the list of owners and admins up to date</a> since they control your team's settings.</p>
                              <p style="font-size:17px;line-height:24px;margin:0 0 16px">Your team is on <span class="il">Coffee Mobile</span>'s <strong>Free Plan</strong>, which is free for unlimited users for an unlimited time. Interested in unlimited archive access and integrations, single sign-on, custom data retention, and more? <a href="https://coffeemobile.slack.com/x-t3069738998-11061753107/pricing" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">Check out our paid plans</a> to learn all about it.</p>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
         <tr>
            <td style="border-collapse:collapse">
               <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;margin-top:1rem;background:white;color:#989ea6">
                  <tbody>
                     <tr>
                        <td style="border-collapse:collapse;height:5px;background-image:url('https://ci4.googleusercontent.com/proxy/HzVdB1b8ViwO5j9_pLX5Fk4HKXY232E1BpGTE7cX4LYydeKxvOnovyQv85NrUdewb44TDk3Ydo0VEPG9UAtF351uBDMZu1Hcv9bgR_qho9VfyNAelMdW=s0-d-e1-ft#https://slack.global.ssl.fastly.net/66f9/img/email-ribbon_@2x.png');background-repeat:repeat-x"></td>
                     </tr>
                     <tr>
                        <td valign="top" align="center" style="border-collapse:collapse;padding:16px 8px 24px">
                           <div style="max-width:600px;margin:0 auto">
                              <p style="font-size:12px;line-height:20px;margin:0 0 16px;margin-top:16px">	<span style="max-width:380px;display:block">
                                 This email is sent to team owners and admins of active teams.
                                 If you'd prefer not to receive these emails, you can <a href="https://coffeemobile.slack.com/unsub/U03QBMD9T-1b99a29a7b-weekly" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank">unsubscribe here</a>.
                                 </span>
                              </p>
                              <p style="font-size:12px;line-height:20px;margin:0 0 16px;margin-top:16px">
                                 Made by <a href="https://slack.com" style="color:#439fe0;font-weight:bold;text-decoration:none;word-break:break-word" target="_blank"><span class="il">Coffee</span> Software Design, Inc</a><br><a href="#14fefc8509da682e_" style="color:#989ea6;font-weight:normal;text-decoration:none;word-break:break-word">155 5th Street, 6th Floor &nbsp;•&nbsp; San Francisco, CA &nbsp;•&nbsp; 94103</a>
                              </p>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </tbody>
   </table>
</div>